extends ../layouts/default
include ../codyhouse-components/avd-gallery
include ../codyhouse-components/cta-banner

block content
	main#main-content
		section.hero.padding-y-xxl
			.container.max-width-adaptive-sm
				.hero__content
					.hero__label.margin-bottom-xxs Hi fellow dev
					.text-component.margin-bottom-sm
						h1 Welcome
						p This is your new <a href='https://vincentjs.com' target='_blank'>VincentJS</a> website.
						p It's based on <a href='https://keystonejs.com/' target='_blank'>KeystoneJS v4</a> and
							| <a href='https://codyhouse.co/ds/get-started' target='_blank'>CodyHouse Design System</a>.
						p Visit the <a href='https://vincentjs.com/getting-started/' target='_blank'>Getting Started</a> guide to learn how to customise it.

					.flex.flex-wrap.items-center.flex-gap-sm
						a(href="https://github.com/lukezona/vincent" target='_blank').btn.btn--primary GitHub
						a(href="https://vincentjs.com/getting-started/" target='_blank').btn.btn--subtle Documentation

		section#gallery-main
			+adv-gallery(data.images, 'Lorem ipsum dolor sit amet consectetur adipisicing elit.')

		section#test
			.container
				+img(data.images[2], [{width: 50}, {width: 1000}, {width: 2000}], 'test')