mixin reading-progressbar()
	progress(aria-hidden="true" max="100" value="0").reset.reading-progressbar.reading-progressbar--is-hidden.js-reading-progressbar
		.reading-progressbar__fallbackjs-reading-progressbar__fallback

//- Add the "reading-content" and "js-reading-content" classes to the text container